<div class="product-container">
    <div [class.sale]="product.onSale" [class.no-sale]="!product.onSale">
        <div [ngClass]="productClasses(i)">Quantity: {{product.inCart}}</div>
        <div [ngClass]="productClasses(i)">{{product.name}}</div>
        <div [ngClass]="productClasses(i)">$ {{product.price}}</div>
        <div> <img class="product-image" src="{{product.imagePath}}" alt={{name}}> </div>
        <div>
          <button (click)="toggleSale($event)"> On Sale </button>
          <button (click)="onAddToCart($event)"> Add to Cart </button>
          <button (click)="onRemoveFromCart($event)" *ngIf="product.inCart > 0"> Remove From Cart </button>
        </div>
        <div>
            <select>
              <option *ngFor="let q of quantities">
                {{q}}
              </option>
            </select>
          </div>
    </div>
</div>
